body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #2a6908cf;
    opacity: 0.9;
    color: white;
    height: 250px;
}
.caixa2{
    display: flex ;
}

.caixa2 img{
    width: 400px;
    height: 350px;
    margin-top: -115px;
}

.wellcome{
    text-align: center;
    margin-left: 180px;
}
.slogan {
    font-size: 18px;
    font-style: italic;
    margin: 5px 0;
}


.explore-options {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    position: fixed;
    margin-top: -100px;
    margin-left: 18%;
    position: fixed;
}

.explore-card span {
    display: block;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #f9f9f9;
    color: #26b00a;
    text-transform: uppercase;
}

.explore-card {
    display: block;
    text-decoration: none;
    color: #73c30a;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(15, 88, 3, 0.552);
}


.explore-card:hover {
    background-color: #1e8c08;
}

.title {
    text-align: center;
    color: #26b00a;
    margin: 30px 0;
}

.curiosity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.curiosity {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.curiosity:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.image-container img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.curiosity h2 {
    font-size: 18px;
    color: #2c6e49;
    margin: 15px 0 10px;
}

.curiosity p {
    font-size: 16px;
    color: #555;
}

footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
}
